[[source]]
url = "https://pypi.service.goreel.tech/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
requests = "*"
beautifulsoup4 = "==4.12.3"
aioslsk = "==1.3.2"
python-dotenv = "==1.0.1"
pyrogram = "*"
tgcrypto = "*"
youtube-dl = "*"
youtube-search-python = "*"
youtube-search = "*"
ffmpeg-python = "*"
ffmpeg = "*"
aiofiles = "==24.1.0"
aiohappyeyeballs = "==2.4.3"
aiohttp = "==3.10.10"
aiosignal = "==1.3.1"
annotated-types = "==0.7.0"
async-timeout = "==4.0.3"
async-upnp-client = "==0.40.0"
attrs = "==24.2.0"
certifi = "==2024.8.30"
charset-normalizer = "==3.4.0"
defusedxml = "==0.7.1"
frozenlist = "==1.4.1"
idna = "==3.10"
multidict = "==6.1.0"
mutagen = "==1.47.0"
propcache = "==0.2.0"
pydantic = "==2.9.2"
pydantic-core = "==2.23.4"
pydantic-settings = "==2.6.0"
python-didl-lite = "==1.4.0"
soupsieve = "==2.6"
types-aiofiles = "==24.1.0.20240626"
typing-extensions = "==4.12.2"
urllib3 = "==2.2.3"
voluptuous = "==0.15.2"
yarl = "==1.15.4"
stubs = "*"
yt-dlp = "*"
pandas = "*"
telegram = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
